#principal {
    font-weight: 400;
    background-image: url(./img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


#titulo {
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-top: -10px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px;
}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador,
#computador {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    color: #fff;
}

#jogador {
    background-color: #f40d0d;
}

#computador {
    background-color: #74b9ff;
}

#versus {
    font-size: 40px;
    text-align: center;
    width: 70px;
}

ul#jogador-escolha,
ul#computador-escolha {
    list-style: none;
    margin: 20;
    padding: 0;
    text-align: center;
}

ul#jogador-escolha li,
ul#computador-escolha li {
    display: inline;
}

ul#jogador-escolha li a,
ul#computador-escolha li a {
    opacity: .2;
}

ul#jogador-escolha li a:hover,
ul#computador-escolha li a.selecionado,
ul#jogador-escolha li a.selecionado {
    opacity: 1;
    cursor: pointer;
}

#jogador-nome,
#computador-nome {
    margin: 0;
    padding: 13px;
}

#jogador-nome {
    text-align: left;
}

#computador-nome {
    text-align: right;
}

#jogador-pontos,
#computador-pontos {
    position: absolute;
    top: 8px;
    font-size: 32px;
}

#jogador-pontos {
    right: 20px;
}

#computador-pontos {
    left: 18px;
}


#mensagens {
    background-color: gray;
    font-size: 32px;
    height: 50px;
    border-radius: 5px;
    margin: 40px 0;
    padding: 15px;
    text-align: center;
}

#divbtn {
    margin: 7px;
}

#botao {
    border: none;
    background-color: gray ;
    color: black ;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

#botao:hover {
background-color: darkgray;
}

#botao:active {
background-color: gray;
}

#footer {
    display: block;
    padding: 20px;
}